@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Student Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Courses.Count == 0)
{
  <p>This student does not belong to any courses</p>
}
else
{
  <h4>Courses @Model.Name belongs to:</h4>
  <p>Date of enrollment: @Model.DateOfEnrollment</p>
  <ul>
  @foreach(var join in Model.Courses)
  {
    <li>@join.Course.CourseName @join.Course.CourseNumber</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete student", "Delete", new { id = Model.StudentId })</p>