@{
  Layout = "_Layout";
}
@model UniversityRegistrar.Models.Department

<h2>Edit</h2>

<h4>Edit this department: @Html.DisplayFor(model => model.DepartmentName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DepartmentId)
    @Html.LabelFor(model => model.DepartmentName)
    @Html.EditorFor(model => model.DepartmentName)<br>
    <input class="btn" type="submit" value="Save changes" />
}
<p>@Html.ActionLink("Back to departments", "Index")</p>
<p>@Html.ActionLink("Back to homepage", "Index", "Home")</p>